{% extends 'main.html'%}
{% load static %}
   
    {% block content%}
  
              <br/>

              

              <br/>
          <table class="table" id="myTable">
                    <div class="app-header-left">      
                  <div class="search-wrapper">
                      <div class="input-holder">
                          <input type="text" class="search-input" id="myInput" onkeyup="myFunction()" placeholder="Type to search">
                          <button class="search-icon"><span></span></button>
                      </div>
                      <button class="close"></button>
                  </div>
                        </div>
            <thead class="thead-primary">
              <tr>
               
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Class</th>
                
                <th>owner</th>
                 <th>Edit</th>
                <th>View</th>
                <th>Delete</th>
               
                
              </tr>
            </thead>
            <tbody>

      

              <tr>
                {% for show in boys %} 
                
                    <td>{{show.name}}</td>
                    <td>{{ show.age }}</td>
                    <td>{{ show.gender }}</td>
                    <td>{{ show.clases }} aad</td>
                    <td>{{ show.Owner }}</td>
                   
                    
                 
                
  
                
                
                <td> 
                  <a class="nav-link" aria-current="page" href=" {% url 'show_boys' show.id %} ">View</a>
              </td>
              <td> 
                <a class="nav-link" aria-current="page" href=" {% url 'update_boys' show.id %} ">Update</a>
            </td>
            <td> 
              <a class="nav-link" aria-current="page" href=" {% url 'delete_boys' show.id %} ">Delete</a>
          </td>
               
               
                
             
              </tr>
             
            </tbody>
           {% endfor %}

          </table>
        </div>
      </div>
    </div>
  </div>
</section>
     
      <script>
function myFunction() {
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("myInput");
filter = input.value.toUpperCase();
table = document.getElementById("myTable");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[0];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }       
}
}
</script>
 
      
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>     
   <script type="text/javascript" src="https://demo.dashboardpack.com/architectui-html-free/assets/scripts/main.js"></script> 
   
    
    
        
      




  {% endblock%}

