
{% extends 'main1.html'%}
{% load static %}
   
    {% block content%}
   
                      
          <table class="table" id="myTable">
                    <div class="app-header-left">      
                  <div class="search-wrapper">
                      <div class="input-holder">
                          <input type="text" class="search-input" id="myInput" onkeyup="myFunction()" placeholder="Type to search">
                          <button class="search-icon"><span></span></button>
                      </div>
                      <button class="close"></button>
                  </div>
                        </div>
            <thead class="thead-primary">

              <tr>
                
                
            <th>Name</th>
            <th >Yearly</th>
            <th >Head teacher</th>
            <th >School Name</th>
            <th >Edit</th>
            <th >View</th>
            <th >Delete</th>
              </tr>
            </thead>
            <tr>
             
            
           
          </tr>
            <tbody>



              
              <tr>
                {% for k in report %} 
                 
                 <td>{{k.name}}</td>
                 <td>{{k.yearly}}</td>
                 <td>{{k.head_teacher}}</td>
                 <td>{{k.school_name}}</td>
                 
                 
              
             
               <td> 
                   <a class="nav-link" aria-current="page" href=" {% url 'update_report' k.id %} ">Edit</a>
               </td>
               <td> 
                <a class="nav-link" aria-current="page" href=" {% url 'show_boysreport' k.id %} ">Show</a>
            </td>
               <td> 
                 <a class="nav-link" aria-current="page" href=" {% url 'delete_report' k.id %} ">Delete</a>
             </td>
               </tr>
             
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
      
      <script>
function myFunction() {
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("myInput");
filter = input.value.toUpperCase();
table = document.getElementById("myTable");
tr = table.getElementsByTagName("tr");
for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[0];
  if (td) {
    txtValue = td.textContent || td.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }       
}
}
</script>
      
      
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>     
   <script type="text/javascript" src="https://demo.dashboardpack.com/architectui-html-free/assets/scripts/main.js"></script> 
   
    
    
        
      

  



  {% endblock%}
