{% extends 'main.html'%}

    
    {% block content%}

    <table class="table">
        <thead>
         
        </thead>
        
      
 <tbody>
    <tr>
    
      
      <td>{{ boyreport_show.name }} </td>
      <td> {{ boyreport_show.schools }}</td>
      <td>{{ boyreport_show.statues }}</td>
      <td>  {{ boyreport_show.clases }}</td>
      <td> {{ boyreport_show.s_points }}</td>
      <td> {{ boyreport_show.comment }}</td>
      
   
    
    </tr>
   
  </tbody>
 

 

 
</table>

       
       
      
    
    {% endblock%}
    